@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fun application :#</h1>
    <p><a href="https://vk.com/sky_w0w">My social medias.</a>Tasting WEB :D.</p>
</div>
